body
    {
        background-color:#244166;
    }
    
h1
    {
        color:#B25101;
        font-family:"Times New Roman";
    }
    
p
    {
        color:black;
        font-family:"Times New Roman";
        
    }   
    
.pagecenter
{
    margin:auto;
	width:600px;
	background-color:white;
	padding:30px; border:#38659f 3px solid;
	
}

img 
{
    box-shadow: 10px 10px 5px #888888;
}